html {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Barlow', sans-serif;
}

.util-flex {
  flex: 1 1 auto;
}

.util-hide-scrollbars {
  -ms-overflow-style: none;
}

.util-hide-scrollbars::-webkit-scrollbar {
  width: 0;
}
